name: Build CatSeedLogin Plugin

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  RUSTFLAGS: "-A warnings"

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: cargo build --release

    - uses: actions/upload-artifact@v4
      with:
        name: CatSeedLogin-${{ matrix.os }}
        path: |
          target/release/*.dll
          target/release/*.dylib
          target/release/*.so
